<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Game</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-vh-100 d-flex justify-content-center align-items-center">
    <form
      action="/web/edit-game/<%= game.id %> "
      method="post"
      class="card w-auto p-4 bg-light"
    >
      <h1>Edit Game</h1>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="title"
          placeholder="Game Title"
          value="<%= game.title %> "
        />
      </div>
      <div class="form-group">
        <label for="score">Score</label>
        <input
          class="form-control"
          type="number"
          id="score"
          name="score"
          placeholder="Game Score"
          value="<%= +game.score %>"
        />
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input
          class="form-control"
          type="number"
          id="time"
          name="hours_time"
          placeholder="Game Time (Hours)"
          value="<%= +game.hours_time %>"
        />
      </div>
      <div class="form-group">
        <label for="publisher">Publisher</label>
        <input
          class="form-control"
          type="text"
          id="publisher"
          name="publisher"
          placeholder="Game Publisher"
          value="<%= game.publisher %> "
        />
      </div>
      <!-- <div class="form-group">
        <label for="user">Username</label>
        <input
          class="form-control"
          type="text"
          id="user"
          name="username"
          placeholder="Game Username"
          value="<%= game.user_game.username %>"
        />
      </div> -->
      <div class="form-group">
        <p>User : <%= game.user_game.username %></p>
      </div>
      <button type="submit" class="btn btn-warning">Edit Game</button>
    </form>
  </body>
</html>
