<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-vh-100 d-flex justify-content-center align-items-center">
    <form
      action="/web/edit-user/<%= userData.id %> "
      method="post"
      class="card w-auto p-4 bg-light"
    >
      <h1>Edit User</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          value="<%= userData.user_game.username %>"
        />
      </div>
      <div class="form-group">
        <label for="username">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          value="<%= userData.user_game.password %>"
        />
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          class="form-control"
          type="text"
          id="firstName"
          name="firstName"
          placeholder="User First Name"
          value="<%= userData.first_name %>"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          class="form-control"
          type="text"
          id="lastName"
          name="lastName"
          placeholder="User Last Name"
          value="<%= userData.last_name %>"
        />
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input
          class="form-control"
          type="text"
          id="country"
          name="country"
          placeholder="User Country"
          value="<%= userData.country %>"
        />
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="email"
          placeholder="User E-Mail"
          value="<%= userData.email %>"
        />
      </div>
      <button type="submit" class="btn btn-warning">Update User</button>
    </form>
  </body>
</html>
