<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game App</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-vh-100 d-flex flex-column align-items-center">
    <h1 class="my-4">Game App</h1>
    <div class="my-2">
      <button class="btn btn-success" id="addNewGameButton">
        Add New Game
      </button>
      <button class="btn btn-primary" id="createNewUserButton">
        Create New User
      </button>
      <button class="btn btn-primary" id="loginButton">Login</button>
      <button class="btn btn-primary" id="docsButton">Docs</button>
    </div>
    <div class="mt-2 mb-4">
      <button class="btn btn-dark" id="gameHistoryButton">Game History</button>
      <button class="btn btn-dark" id="userDataButton">User Data</button>
    </div>
    <table class="table table-bordered w-auto">
      <thead class="thead-dark">
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Score</th>
          <th>Time</th>
          <th>Publisher</th>
          <th>User</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% let num = 1; %> <% games.forEach(function (game) { %>
        <tr>
          <td><%= num %></td>
          <td><%= game.title %></td>
          <td><%= game.score %></td>
          <td><%= game.hours_time %></td>
          <td><%= game.publisher %></td>
          <td><%= game.user_game.username %></td>
          <td class="w-auto">
            <button
              class="btn btn-warning"
              onclick="window.location.href=`/web/edit-game/<%= game.id %>`"
            >
              Edit
            </button>
            <form
              class="d-inline"
              method="post"
              action="/web/delete-game/<%= game.id %>"
            >
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        <% num++; %> <% }); %>
      </tbody>
    </table>
  </body>
  <script>
    const addNewGameBtn = document.getElementById("addNewGameButton");
    const createNewUserBtn = document.getElementById("createNewUserButton");
    const gameHistoryBtn = document.getElementById("gameHistoryButton");
    const userDataBtn = document.getElementById("userDataButton");
    const loginBtn = document.getElementById("loginButton");
    const docsBtn = document.getElementById("docsButton");

    addNewGameBtn.addEventListener("click", () => {
      window.location.href = "/web/add-game";
    });
    createNewUserBtn.addEventListener("click", () => {
      window.location.href = "/web/register";
    });
    gameHistoryBtn.addEventListener("click", () => {
      window.location.href = "/web";
    });
    userDataBtn.addEventListener("click", () => {
      window.location.href = "/web/users";
    });
    loginBtn.addEventListener("click", () => {
      window.location.href = "/web/login";
    });
    docsBtn.addEventListener("click", () => {
      window.location.href = "/docs";
    });
  </script>
</html>
